* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font: inherit;
}

:root {

    /* Background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* Color */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
     
    /* Border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    
    --font-family-inter: 'inter', sans-serif;

    --title: 700 1.5rem/2rem var(--font-family-inter); 
    --label: 600 1rem/1.25rem var(--font-family-inter);
    --paragraph: 400 1rem/1.25rem var(--font-family-inter);
    --link: 400 .875rem/1rem var(--font-family-inter);
}

body {
    font-family: var(--font-family-inter);
    background-color: var(--background-primary);
}